<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes" 
  [class.selected]="hero===selectedHero"
  (click)="onSelect(hero, 'from My Heroes')">
     <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHeroes.size">
  <h2>My Selected Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of getSelectedHeroes()"
        [class.selected]="hero===selectedHero"
        (click)="onSelect(hero, 'from My Selected Heroes')">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</div>
